################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Project/v17
/Supermercado-Juarez-Antiñolo/.vs/Supermercado-Juarez-Antiñolo/FileContentIndex
